$primary-red: hsl(7, 99%, 70%);
$primary-yellow: hsl(51, 100%, 49%);
$primary-cyan-grey: hsl(167, 40%, 24%);
$primary-blue: hsl(198, 62%, 26%);
$primary-cyan-moderate: hsl(168, 34%, 41%);
$primary-cyan-light: hsl(168, 56%, 76%);

$neutral-blue-black: hsl(212, 27%, 19%);
$neutral-blue-grey-dark: hsl(213, 9%, 39%);
$neutral-blue-grey-middle: hsl(232, 10%, 55%);
$neutral-blue-grey-light: hsl(210, 4%, 67%);
$neutral-white: hsl(0, 0%, 100%);
