* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  padding: 0 0;
  font-family: sans-serif;
}

body {
  font-family: "Barlow";
  font-size: 1.8rem;
  color: hsl(212deg, 27%, 19%);
}

h1 {
  font-family: "Fraunces-black";
  font-size: 3.7rem;
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-align: center;
  margin-block: 10rem 4rem;
}

h2 {
  font-family: "Fraunces-black";
  font-size: 3rem;
  text-align: center;
  margin-block: 5rem 3rem;
  padding-inline: 3rem;
}

h3 {
  font-family: "Fraunces-bold";
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  text-align: center;
  color: hsl(210deg, 4%, 67%);
  margin-block: 5rem 6rem;
}

.link {
  all: unset;
}

@font-face {
  font-family: "Barlow";
  src: url(../assets/fonts/Barlow.woff2);
  font-weight: 600;
}
@font-face {
  font-family: "Fraunces-bold";
  src: url(../assets/fonts/Fraunces_Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "Fraunces-black";
  src: url(../assets/fonts/Fraunces_Black.woff2);
  font-weight: 900;
}
.nav__list {
  display: none;
}

.header {
  width: 100%;
  height: 80vh;
  background-image: url("../assets/images/mobile/image-header.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 4rem 2.2rem;
}
.header-arrow {
  position: relative;
  left: 45%;
}

.nav {
  display: flex;
  justify-content: space-between;
}
.nav-menu {
  height: 1.8rem;
}

.foto {
  width: 100vw;
}

.design {
  color: hsl(167deg, 40%, 24%);
}

.inside {
  position: relative;
}
.inside-content {
  position: absolute;
  top: 55%;
}
.inside-text {
  padding-inline: 2.2rem;
  line-height: 2.7rem;
  font-size: 1.6rem;
  text-align: center;
}

.photography {
  color: hsl(198deg, 62%, 26%);
  top: -0.4rem;
}

.text {
  padding-inline: 2.2rem;
  line-height: 2.7rem;
  text-align: center;
  color: hsl(232deg, 10%, 55%);
}

.link-container {
  text-align: center;
  font-family: Fraunces-bold;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding-block: 3rem 8rem;
  position: relative;
}

.underline {
  height: 1rem;
  width: 13rem;
  border-radius: 6px;
  position: absolute;
  left: calc(50% - 6.5rem);
  top: 33%;
  z-index: -1;
}
.underline-transform {
  background-color: hsl(51deg, 100%, 88%);
}
.underline-audience {
  background-color: hsl(7deg, 99%, 93%);
}

.link {
  all: unset;
}

.references {
  padding: 0 2.2rem 3rem 2.2rem;
}
.references-text {
  color: hsl(213deg, 9%, 39%);
  line-height: 3rem;
  text-align: center;
  padding-block: 4rem;
}
.references-job {
  color: hsl(210deg, 4%, 67%);
  font-size: 1.4rem;
  padding-block: 1.3rem 6rem;
}
.references-foto {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-size: cover;
}
.references-client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.references-name {
  font-family: "Fraunces-black";
  font-size: 1.8rem;
}

.first-client-foto {
  background-image: url("../assets/images/image-emily.jpg");
}

.second-client-foto {
  background-image: url("../assets/images/image-thomas.jpg");
}

.third-client-foto {
  background-image: url("../assets/images/image-jennie.jpg");
}

.footer {
  background-color: hsl(168deg, 56%, 76%);
  color: hsl(168deg, 34%, 41%);
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 6rem 3.5rem 8rem 3.5rem;
}
.footer-brand {
  align-self: center;
}
.footer-links {
  display: flex;
  justify-content: space-between;
}
.footer-social {
  align-self: center;
  display: flex;
  gap: 2.5rem;
  padding-block: 5rem 1rem;
}

.pictures {
  display: flex;
  flex-wrap: wrap;
}
.pictures-foto {
  width: 50vw;
}

/*# sourceMappingURL=main.css.map */
