@use "../abstracts/" as *;

* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 62.5%;

  padding: 0 0;
  font-family: sans-serif;
}
body {
  font-family: "Barlow";
  font-size: 1.8rem;
  color: $neutral-blue-black;
}

h1 {
  font-family: "Fraunces-black";
  font-size: 3.7rem;
  color: $neutral-white;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-align: center;
  margin-block: 10rem 4rem;
}

h2 {
  font-family: "Fraunces-black";
  font-size: 3rem;
  text-align: center;
  margin-block: 5rem 3rem;
  padding-inline: 3rem;
}
h3 {
  font-family: "Fraunces-bold";
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  text-align: center;
  color: $neutral-blue-grey-light;
  margin-block: 5rem 6rem;
}

.link {
  all: unset;
}
